# загружаем файл citybike-tripdata.csv

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

starttime — время начала поездки (дата, время);
stoptime — время окончания поездки (дата, время);
start station id — идентификатор стартовой стоянки;
start station name — название стартовой стоянки;
start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
end station id — идентификатор конечной стоянки;
end station name — название конечной стоянки;
end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
bikeid — идентификатор велосипеда;
usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
birth year — год рождения клиента;
gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [1]:
import pandas as pd

citybike = pd.read_csv('data/citibike-tripdata.csv', sep = ',')

citybike

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [3]:
# делаем копию файла

citybike_cp = citybike.copy()

citybike_cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [7]:
#300000 - 299831

# идентификатор самой популярной стартовой площадки
citybike_cp['start station id'].value_counts()

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: start station id, Length: 759, dtype: int64

In [8]:
# Велосипед с каким идентификатором является самым популярным?

citybike_cp['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [11]:
# Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов 
# преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

citybike_cp['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [12]:
# Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

citybike_cp['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [15]:
# Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
citybike_cp['start station id'].nunique() == citybike_cp['end station id'].nunique()

False

In [26]:
# В рассматриваемые дни минимальный возраст клиента составлял 10 лет

#citybike_cp['starttime']
# подйем длинным путем. Сначала приведу столбцы с датами к типу datetime
#melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
citybike_cp['starttime'] = pd.to_datetime(citybike_cp['starttime'], dayfirst=False)
citybike_cp['stoptime'] = pd.to_datetime(citybike_cp['stoptime'], dayfirst=False)

citybike_cp['starttime']
citybike_cp['stoptime']

0        2018-09-01 00:27:20.634
1        2018-09-01 00:02:23.481
2        2018-09-01 00:55:58.547
3        2018-09-01 00:07:38.583
4        2018-09-01 02:21:25.308
                   ...
299995   2018-09-05 19:15:51.494
299996   2018-09-05 19:20:01.508
299997   2018-09-05 19:13:40.506
299998   2018-09-05 20:04:29.322
299999   2018-09-05 19:12:14.762
Name: stoptime, Length: 300000, dtype: datetime64[ns]

In [28]:
# добавлю start year

citybike_cp['Start Year'] = citybike_cp['starttime'].dt.year


citybike_cp['Start Year']

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
299995    2018
299996    2018
299997    2018
299998    2018
299999    2018
Name: Start Year, Length: 300000, dtype: int64

In [31]:
# а теперь вычислим возраст

citybike_cp['Age'] = citybike_cp['Start Year'] - citybike_cp['birth year']

In [34]:
citybike_cp['Age'].min()
#16

133

In [35]:
citybike_cp['birth year'].min()

# ого, есть те кто родились в 1885 году

1885

In [36]:
# Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием 
# "Eastern Pkwy & Washington Ave"

citybike_cp['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [38]:
# Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

citybike_cp['end station name'].mode()

0    West St & Chambers St
Name: end station name, dtype: object

In [39]:
# удаляем идентификаторы стоянок
# melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
#melb_df.head()

citybike_cp = citybike_cp.drop(['start station id', 'end station id'], axis = 1)

citybike_cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
 12  Start Year               300000 non-null  int64
 13  Age                      300000 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(5), object(3)
memory usage: 32.0+ MB

In [41]:
# сколько поездок совершено клиентами старше 60 лет

citybike_cp = citybike_cp.drop(['birth year', 'Start Year'], axis = 1)
citybike_cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  Age                      300000 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(3)
memory usage: 27.5+ MB

In [44]:
citybike_cp[citybike_cp['Age'] > 60].shape[0]
# 11837

11837

In [45]:
# Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) 
# и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

citybike_cp['duration'] = citybike_cp['stoptime'] -  citybike_cp['starttime']

citybike_cp['duration'][3]

Timedelta('0 days 00:07:16.837000')

In [48]:
# Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье),
#  и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

dayofweek = citybike_cp['starttime'].dt.day_of_week
dayofweek.value_counts()

1    68628
2    61185
6    60812
0    55052
5    54323
Name: starttime, dtype: int64

In [49]:
citybike_cp['weekend'] = dayofweek.apply(lambda x : 1 if x in (5, 6) else 0)

citybike_cp['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
* поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
* поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
* поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
* поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [50]:
hours = citybike_cp['starttime'].dt.hour

def get_time_of_day(hour_st):
    if hour_st >= 0 and hour_st <= 6:
        return 'night'
    elif hour_st > 6 and hour_st <= 12:
        return 'morning'
    elif hour_st > 12 and hour_st <= 18:
        return 'day'
    elif hour_st > 18 and hour_st <=23:
        return 'evening'
    else:
        return 'other'
    
citybike_cp['time_of_day'] = hours.apply(get_time_of_day)

citybike_cp

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,Age,duration,weekend,time_of_day
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000,1,night
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000,1,night
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000,1,night
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000,1,night
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000,1,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,0 days 00:07:23.648000,0,evening
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,0 days 00:11:33.138000,0,evening
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,0 days 00:05:12.997000,0,evening
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,0 days 00:56:00.092000,0,evening
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,0 days 00:03:45.051000,0,evening

In [53]:
# Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный
#  в данных период времени? Ответ округлите до целых.

citybike_cp[citybike_cp['time_of_day'] == 'day'].shape[0] / citybike_cp[citybike_cp['time_of_day'] == 'night'].shape[0]

#9.480411004308916

9.480411004308916