# Задание
вам предстоит проанализировать данные о результатах экзаменов по математике, чтению и письму среди студентов некоторого учебного заведения.

In [1]:
import pandas as pd

# считываем файл
student_data = pd.read_csv('data/students_performance.csv', sep = ',')

In [2]:
# выведем первые 5 строк файла

student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
# Данные о скольких студентах содержатся в таблице?

student_data.shape

(1000, 8)

In [6]:
# Каков балл по письму у студента под индексом 155?

student_data.loc[155, 'writing score']

88

In [7]:
# Сколько суммарно пропущенных значений в таблице?

student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [11]:
# Каков у студентов средний балл по математике?

print(student_data['math score'].mean())

66.089

In [12]:
# Какая расовая группа является самой крупной в учебном заведении?

student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [14]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

student_data[student_data['test preparation course'] == 'completed' ]['reading score'].mean()

73.89385474860335

In [19]:
# Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score'] == 0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [24]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
#В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

student_data[student_data['lunch'] == 'standard']['math score'].mean()
# student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

70.03410852713178

In [25]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

student_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [30]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

student_data[student_data['race/ethnicity'] ==  'group A']['writing score'].median() - student_data[student_data['race/ethnicity'] ==  'group C']['writing score'].mean()

-5.827586206896555